{% if is_granted('ROLE_USER') %}
    {% set pagetemplate = 'base.html.twig' %}
{% else %}
    {% set pagetemplate = 'login.html.twig' %}
{% endif %}

{% extends pagetemplate %}

{% block body %}

    {% if error %}
        <div class="alert alert-danger">
            <ul class="list-unstyled mb-0">
                <li><span class="initialism form-error-icon badge badge-danger">Error</span>
                    <span class="form-error-message">{{ error.messageKey|trans(error.messageData, 'security') }}</span>
                </li>
            </ul>
        </div>
    {% endif %}
    {% if is_granted('ROLE_USER') %}
    {% else %}
        {{form(form)}}
    {% endif %}
{% endblock %}