{% extends 'base.html.twig' %}

{% block body %}
<style>

    img.preview{
        max-width:500px;
        max-height: 500px;
    }
#hot-display-license-info{display:none;}
</style>
    <div class="row">
        <div class="col-lg-8">
            <div id="hot"></div>
        </div>
        <div class="col-lg-4">
            <a href="#" target="_blank" class="preview"> <img width="200" height="200" src="images/defaut_image.gif" alt="preview" class="preview"></a>

        </div>
    </div>

</div>
{% endblock %}
{% block javascripts %}

<script  src="https://code.jquery.com/jquery-1.12.4.min.js"  integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <!--    <script src="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.js"></script>
   -->
    <script src="https://docs.handsontable.com/pro/bower_components/handsontable-pro/dist/handsontable.full.min.js"></script>

    <script>

var
  data = [
    {
      title: "<a href='http://www.amazon.com/Professional-JavaScript-Developers-Nicholas-Zakas/dp/1118026691'>Professional JavaScript for Web Developers</a>",
      description: "This <a href='http://bit.ly/sM1bDf'>book</a> provides a developer-level introduction along with more advanced and useful features of <b>JavaScript</b>.",
      comments: "I would rate it &#x2605;&#x2605;&#x2605;&#x2605;&#x2606;",
      cover: "http://ecx.images-amazon.com/images/I/51bRhyVTVGL._SL50_.jpg",
      inputFile : ""
    },
    {
      title: "<a href='http://shop.oreilly.com/product/9780596517748.do'>JavaScript: The Good Parts</a>",
      description: "This book provides a developer-level introduction along with <b>more advanced</b> and useful features of JavaScript.",
      comments: "This is the book about JavaScript",
      cover: "http://ecx.images-amazon.com/images/I/51gdVAEfPUL._SL50_.jpg",
      inputFile : ""
    },
    {
      title: "<a href='http://shop.oreilly.com/product/9780596805531.do'>JavaScript: The Definitive Guide</a>",
      description: "<em>JavaScript: The Definitive Guide</em> provides a thorough description of the core <b>JavaScript</b> language and both the legacy and standard DOMs implemented in web browsers.",
      comments: "I've never actually read it, but the <a href='http://shop.oreilly.com/product/9780596805531.do'>comments</a> are highly <strong>positive</strong>.",
      cover: "http://ecx.images-amazon.com/images/I/51VFNL4T7kL._SL50_.jpg",
      inputFile : ""
    }
  ],
  container1,
  hot1;

container1 = document.getElementById('hot');
hot1 = new Handsontable(container1, {
  data: data,
  colWidths: [200, 100, 200, 80, 200],
  colHeaders: ["Title", "Description", "Comments", "Cover"],
  columns: [
    {data: "title", renderer: "html"},
    {data: "description", renderer: "html"},
    {data: "comments", renderer: safeHtmlRenderer},
    {data: "cover", renderer: coverRenderer},
    {data: "inputFile", renderer: inputFileRenderer}
  ]
});

// original by: Kevin van Zonneveld (http://kevin.vanzonneveld.net)
function strip_tags(input, allowed) {
  var tags = /<\/?([a-z][a-z0-9]*)\b[^>]*>/gi,
    commentsAndPhpTags = /<!--[\s\S]*?-->|<\?(?:php)?[\s\S]*?\?>/gi;

  // making sure the allowed arg is a string containing only tags in lowercase (<a><b><c>)
  allowed = (((allowed || "") + "").toLowerCase().match(/<[a-z][a-z0-9]*>/g) || []).join('');

  return input.replace(commentsAndPhpTags, '').replace(tags, function ($0, $1) {
    return allowed.indexOf('<' + $1.toLowerCase() + '>') > -1 ? $0 : '';
  });
}

function safeHtmlRenderer(instance, td, row, col, prop, value, cellProperties) {
  var escaped = Handsontable.helper.stringify(value);
  escaped = strip_tags(escaped, '<em><b><strong><a><big>'); //be sure you only allow certain HTML tags to avoid XSS threats (you should also remove unwanted HTML attributes)
  td.innerHTML = escaped;

  return td;
}

function coverRenderer (instance, td, row, col, prop, value, cellProperties) {
  var escaped = Handsontable.helper.stringify(value),
    img;

  if (escaped.indexOf('http') === 0) {
    img = document.createElement('IMG');
    img.src = value;

    Handsontable.dom.addEvent(img, 'mousedown', function (e){
      e.preventDefault(); // prevent selection quirk
    });

    Handsontable.dom.empty(td);
    td.appendChild(img);
  }
  else {
    // render as text
    Handsontable.renderers.TextRenderer.apply(this, arguments);
  }

  return td;
}

function inputFileRenderer (instance, td, row, col, prop, value, cellProperties) {
  var escaped = Handsontable.helper.stringify(value),
    input;
    alert(escaped);
 // if (escaped.indexOf('http') === 0) {
    input = document.createElement('input');
    input.type = 'file';

    /*Handsontable.dom.addEvent(input, 'mousedown', function (e){
      e.preventDefault(); // prevent selection quirk
    });*/

    Handsontable.dom.empty(td);
    td.appendChild(input);
 /* }
  else {
    // render as text
    Handsontable.renderers.TextRenderer.apply(this, arguments);
  }*/

  return td;
}




    </script>

    {% endblock %}